In [13]:
import numpy as np
import pandas as pd

In [14]:
df = pd.read_csv('/home/csr/Documents/internship-test2/input/question-1/main.csv')
df.head()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit
0,1001,tomato,vegetable,2021-11-01,2.99,36,kg
1,1001,tomato,vegetable,2021-11-02,2.99,23,kg
2,1001,tomato,vegetable,2021-11-03,2.99,34,kg
3,1001,tomato,vegetable,2021-11-04,2.99,23,kg
4,1001,tomato,vegetable,2021-11-05,2.99,34,kg

The price column contains some missing values. How can we replace these missing values with the average price of the product? Please note that we should not fill the missing values with the average value of the price column. The missing values for apples need to be filled with the average price of apples, and so on.

In [15]:
df['product_description'].value_counts()

tomato         30
cucumber       30
onion          30
plum           30
orange         30
apple          30
grape          30
milk-1.5       30
yogurt-1       30
butter-0.25    30
Name: product_description, dtype: int64

In [16]:
df['price_new'] = df.groupby('product_description')['price'].transform('mean')
df['price_new'].fillna(0, inplace=True)

df.head()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit,price_new
0,1001,tomato,vegetable,2021-11-01,2.99,36,kg,3.121034
1,1001,tomato,vegetable,2021-11-02,2.99,23,kg,3.121034
2,1001,tomato,vegetable,2021-11-03,2.99,34,kg,3.121034
3,1001,tomato,vegetable,2021-11-04,2.99,23,kg,3.121034
4,1001,tomato,vegetable,2021-11-05,2.99,34,kg,3.121034

In [17]:
df['price_new'].isnull().sum()

0

In [18]:
df.to_csv('main.csv', index=False)