In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('/home/csr/Documents/internship-test2/input/question-2/main.csv')
df.head()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit
0,1001,tomato,vegetable,2021-11-01,2.99,36,kg
1,1001,tomato,vegetable,2021-11-02,2.99,23,kg
2,1001,tomato,vegetable,2021-11-03,2.99,34,kg
3,1001,tomato,vegetable,2021-11-04,2.99,23,kg
4,1001,tomato,vegetable,2021-11-05,2.99,34,kg

How can we create a sales amount column that shows how much product in kg is sold in each sale.
The unit for some products is kg so we can just take the value in the sales quantity column for them. However, some of the products are sold in pieces. The weight information for these products can be extracted from the description.

In [4]:
df['product_description'].value_counts()

tomato         30
cucumber       30
onion          30
plum           30
orange         30
apple          30
grape          30
milk-1.5       30
yogurt-1       30
butter-0.25    30
Name: product_description, dtype: int64

In [5]:
df['unit'].value_counts()

kg     210
pcs     90
Name: unit, dtype: int64

In [27]:
def convert_to_kg(row):
    if row['product_description'] == 'milk-1.5':
        return row['sales_quantity'] * 1.5
    elif row['product_description'] == 'yogurt-1':
        return row['sales_quantity'] * 1
    elif row['product_description'] == 'butter-0.25':
        return row['sales_quantity'] * 0.25
    else:
        return row['sales_quantity']

df['sales_quant_new'] = df.apply(convert_to_kg, axis=1)

df['sales_amount'] = df['price'] * df['sales_quant_new']

df.drop(columns=['sales_quant_new'], inplace=True)

df.head()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit,sales_amount
0,1001,tomato,vegetable,2021-11-01,2.99,36,kg,107.64
1,1001,tomato,vegetable,2021-11-02,2.99,23,kg,68.77
2,1001,tomato,vegetable,2021-11-03,2.99,34,kg,101.66
3,1001,tomato,vegetable,2021-11-04,2.99,23,kg,68.77
4,1001,tomato,vegetable,2021-11-05,2.99,34,kg,101.66

In [28]:
df.to_csv('main.csv', index=False)